<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">

    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalable=0,maximum-scale=1.0,minimum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta content="email=no" name="format-detection" />
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="shortcut icon" href="/asset/common/img/logo_cc3ba0cb34.ico">
    <link rel="stylesheet" href="/asset/mobile/common/layout_d6dc6169c6.css">

    <link rel="stylesheet" href="/asset/mobile/sellerPurchaseCenter/sellerPurchaseCenter_acf002f526.css">

    <title>
        机构
    </title>

</head>

<body>

    <div id="app">

    </div>

    <script src="/dep/ractive/0.8.0/ractive-m.js"></script>
    <script src="/dep/base/0.0.1/asset/base-m.js"></script>
    <script src="/asset/mobile/common/flexible_ae43524da9.js"></script>
    <script src="/asset/config_1c4b8d1a79.js"></script>
    <script>
        require(['mobile/common/mvvm_250d16229e', 'mobile/sellerPurchaseCenter/sellerPurchaseCenter_f197b0b7c7'], function (mvvm, main) {
            mvvm.init();
            main.init();
        });
    </script>

</body>
</html>